-e .

statsd==4.0.1
pydantic==2.12.5
autoflake==2.3.1
black==25.11.0
fastapi==0.128.0
flake8==7.3.0
isort==6.1.0
mypy==1.19.0
pre-commit==4.3.0
pytest==8.3.0

aiohttp==3.12.15
httpx[http2]==0.27.2

pytest-asyncio>=0.21.0
pytest-aiohttp>=1.0.4
pytest-cov>=4.1.0
requests-mock>=1.10.0
httpx>=0.27.2

python-multipart==0.0.17
uvicorn==0.35.0
